/* Global Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url('assets/sunset.jpg');
  background-size: cover;
  color: white;
}

/* Main Container */
.mainContainer {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid;
  box-shadow: 0 0 50px rgba(255, 255, 255, 1);
  background: rgba(0, 0, 0, 0.2); /* Added background for better readability */
  border-radius: 10px;
}
.falling-letters-container {
  display: flex;
  justify-content: space-between;
}

.falling-letter {
  position: absolute;
  font-size: 2rem;
  color: black;
  text-shadow: 0 0 5px white;
  animation: fall 5s linear infinite;
  white-space: nowrap;
}

@keyframes fall {
  0% {
    transform: translateY(-100%);
    opacity: 1;
  }
  100% {
    transform: translateY(300%);
    opacity: 0;
  }
}

/* Header Section and Title Animation */
.headerSection {
  padding: 40px 0;
}

.word {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 10px black;
  animation: textAnimation 7s ease infinite;
}

@keyframes textAnimation {
  0% {
    color: white;
    text-shadow: 0 0 10px black;
  }
  50% {
    color: black;
    text-shadow: 0 0 10px white;
  }
  100% {
    color: white;
    text-shadow: 0 0 10px black;
  }
}

.textAboutMe {
  font-size: 1.2rem;
  line-height: 1.5;
  color: white;
  padding: 30px;
  border-radius: 6px 36px 6px 36px ; /* Abgerundeter Container */
  max-width: 90%; /* Responsiv: passt sich der Breite des Containers an */
  margin: 70px auto; /* Zentriert den Container */
  text-align: center; /* Text zentrieren */
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.5);

}

/* Für kleinere Bildschirme */
@media (max-width: 768px) {
  .textAboutMe {
    font-size: 1rem; /* Kleinere Schriftgröße auf mobilen Geräten */
    padding: 15px;
  }
}


/* Responsive Text About Me */
@media (max-width: 768px) {
  .textAboutMe {
    font-size: 1rem;
  }
  .word {
    font-size: 2rem;
  }
}

/* Cards */
.cardsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 20px;
}

.card {
  position: relative;
  width: 100%;
  max-width: 300px;
  overflow: hidden;
  border-radius: 16px;
  background-color: white; /* Set background color to white */
  box-shadow: 4px 4px rgba(255, 255, 255, 0.1);

}

.card-img-top {
  width: 100%;
  height: auto;
}

.card-body {
  color: black; /* Text color set to black for contrast */
}

.card-text {
  color: black; /* Text color set to black for contrast */
}

/* Buttons */
.button, .cardButton {
  display: inline-block;
  align-items: end;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 16px; /* Rounded border radius */
  text-decoration: none;
  text-align: center;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover, .cardButton:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

/* Navigation Icons */
.navigation {
  text-align: left; /* Align icons to the left */
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px; /* Adjust spacing between icons */
}

.navigation li {
  margin: 0;
}

.navigation a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  width: 40px; /* Set a fixed width */
  height: 40px; /* Set a fixed height */
  padding: 0; /* Remove padding */
  line-height: 40px; /* Vertically center the icon */
  border-radius: 50%; /* Make the icon circular */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease, background-color 0.3s ease;
  background-color: transparent; /* Ensure the background is initially transparent */
}

.navigation a:hover {
  color: black;
  background-color: rgba(200, 200, 200, 0.5);

}
/* Footer */
.updateParagraph {
  text-align: end;
  padding: 30px;

}

/* Responsive Styles */
@media (max-width: 768px) {
  .cardsContainer {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    max-width: none;
  }

  .textAboutMe {
    font-size: 1rem;
  }

}
