h1,
h4,
h5,
h3,
.miniTitle,
.description {
  color: #f7fdfc;
  /* position: relative; */
  text-shadow: 2px 2px 4px black;
}
.headerSection {
  width: 100%;
  min-height: 400px;
  max-height: 800px;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.headerSection::before {
  content: '';
  background-image: url(assets/technology.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.9;
  z-index: -1;
}
.font-weight-bold {
  font-weight: 700 !important;
}

.circle {
  width: 18rem;
  height: 19rem;
  border-radius: 20% 1% 20% 1%;
  background-image: url(assets/nature-g.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  -webkit-border-radius: 20% 1% 20% 1%;
  -moz-border-radius: 20% 1% 20% 1%;
  -ms-border-radius: 20% 1% 20% 1%;
  -o-border-radius: 20% 1% 20% 1%;
}

.footer-container {
  content: '';
  background-image: url(assets/technology.jpg);
  background-size: cover;
}
